<div class="container menu">
    <div class="col-xs-12">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/services">Software development and maintenance</a></li>
                                <li><a href="/services">&nbsp; Digital Enterprise Consulting</a></li>
                                <li><a href="/services">&nbsp; Big Data and Advanced Analytics</a></li>
                                <li><a href="/services">&nbsp; Experience Design</a></li>
                                <li><a href="/services">&nbsp; Quality Assurance</a></li>
                                <li><a href="/services">&nbsp; Software Product Development</a></li>
                                <li><a href="/services">&nbsp; Technical Product Management</a></li>
                                <li><a href="/services">Providing advertising and marketing services on the Internet</a></li>
                                <li><a href="/services">&nbsp; Advertising placement</a></li>
                                <li><a href="/services">&nbsp; Advertising space buying</a></li>
                                <li><a href="/services">&nbsp; Advertising campaigns organization and maintenance</a></li>
                                <li><a href="/services">&nbsp; Advertising strategies development</a></li>
                                <li><a href="/services">&nbsp; Cooperation with web agencies on media buying</a></li>
                                <li><a href="/services">Internet traffic and related services</a></li>
                            </ul>
                        </li>
                        <li><a href="/vision">Our Vision</a></li>
                        <li><a href="/whoweare">Who We Are</a></li>
                        <li><a href="/people">Our People</a></li>
                        <li><a href="/responsibility">Corporate Responsibility</a></li>
                        <li><a href="/partners">Partners and Alliances</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Career <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/opportunities">Career Opportunities</a></li>
                                <li><a href="/management">Talent Management</a></li>
                                <li><a href="/employee">From Candidate to Employee</a></li>
                                <li><a href="/freelancers">Collaboration with Freelancers</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>

</div>